@use '../util' as *;

:root {
  // Colors
  --clr-black: #000;
  --clr-white: #fff;
  --clr-gray-500: #4d4f62;
  --clr-gray-400: #6a7178;
  --clr-gray-50: #fafafa;
  --clr-red: #ea5454;
  --clr-cyan: #44d3d2;
  --clr-blue: #549ef2;
  --clr-orange: #fcae4a;

  // Font-family
  --ff-sans: 'Poppins', Arial, Helvetica, sans-serif;

  // Spacing
  --sp-8: #{rem(8)};
  --sp-16: #{rem(16)};
  --sp-24: #{rem(24)};
  --sp-32: #{rem(32)};
  --sp-40: #{rem(40)};

  // Font-sizes
  --fs-xlarge: #{rem(36)};
  --fs-large: #{rem(24)};
  --fs-med: #{rem(20)};
  --fs-reg: #{rem(15)};
  --fs-small: #{rem(13)};
  --fs-xsmall: #{rem(11)};

  // Font-weights
  --fw-xlight: 200;
  --fw-reg: 400;
  --fw-semibold: 600;

  // letter spacing
  --letter-spacing: #{rem(0.25)};

  // Text presets
  --text-preset-1: normal normal var(--fw-semibold) var(--fs-large) / 140%
    var(--ff-sans);

  --text-preset-2: normal normal var(--fw-xlight) var(--fs-large) / 140%
    var(--ff-sans);

  --text-preset-3: normal normal var(--fw-semibold) var(--fs-med) / 135%
    var(--ff-sans);

  --text-preset-4: normal normal var(--fw-reg) var(--fs-reg) / 140%
    var(--ff-sans);

  --text-preset-5: normal normal var(--fw-reg) var(--fs-small) / 160%
    var(--ff-sans);
}

@include breakpoint(medium) {
  :root {
    --text-preset-1: normal normal var(--fw-semibold) var(--fs-xlarge) / 140%
      var(--ff-sans);

    --text-preset-2: normal normal var(--fw-xlight) var(--fs-xlarge) / 140%
      var(--ff-sans);
  }
}
